<h2>New Pokemon</h2>

<form action="/pokemons" method="post">
  <label>Name:</label>
  <input name="pokemons[name]">

  <label>Combat Points:</label>
  <input name="pokemons[cp]">

  <label>Poke Type:</label>
    <input name="pokemons[poke_type]">

    <input type="submit" value="create">
</form>
