<h2><a href="/pokemons">Pokemons!</a></h2>

<div class="pokemon">
  <p>Name: <%= @pokemon.name %></p>
  <p>Combat Points: <%= @pokemon.cp %></p>
  <p>Poke Type: <%= @pokemon.poke_type %></p>
  <img src="<%= @pokemon.img_url %>" alt="">

</div>
