<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../../css/pokestyle.css">
    <meta charset="utf-8">
    <title>Pokemon!</title>
  </head>
  <body>
    <%= yield %>

  </body>
</html>
